@import "../../styles/vars.css";

@keyframes fadeSlide {
  0% {
    transform: translateY(-4rem);
  }

  2% {
    opacity: 0;
  }

  10% {
    transform: translateY(0rem);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    transform: translateY(0rem);
  }

  98% {
    opacity: 0;
  }

  100% {
    transform: translateY(4rem);
  }
}

.intro {
  font-size: 3rem;
  height: 4rem;
  padding-bottom: 1rem;
}

.subtitle {
  height: 4rem;
  overflow: hidden;
}

.subtitle p {
  color: var(--pinkColor);
  font-size: 2rem;
  font-weight: bold;
  font-family: Quicksand;
  padding-top: var(--spacing);
}

.subtitle-animate p {
  animation: fadeSlide 4s ease-in-out infinite;
}

.hero--wrapper {
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding-top: var(--spacing);
}

.hero--content {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

@keyframes float {
  0% {
    transform: translatey(0rem);
  }
  50% {
    transform: translatey(-1rem);
  }
  100% {
    transform: translatey(0rem);
  }
}

.hero--img img {
  height: 25vh;
  object-fit: contain;
  animation: float 6s ease-in-out infinite;
}

@media (min-width: 48em) {
  .hero--wrapper {
    padding-top: 3rem;
  }

  .intro {
    font-size: 3rem;
    height: 5rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 60em) {
  .hero--wrapper {
    flex-flow: row;
    padding-top: 5rem;
  }

  .intro {
    font-size: 3.5rem;
    height: 5.5rem;
    padding-bottom: 2rem;
  }

  .hero--wrapper img {
    height: 50vh;
  }
}
