@import "./css/vars.css";

@keyframes fadeSlide {
  0% {
    transform: translateY(-4rem);
  }

  2% {
    opacity: 0;
  }

  10% {
    transform: translateY(0rem);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    transform: translateY(0rem);
  }

  98% {
    opacity: 0;
  }

  100% {
    transform: translateY(4rem);
  }
}

.intro {
  font-size: 60px;
  height: 80px;
  padding-bottom: 3rem;
}

.subtitle {
  height: 4rem;
  overflow: hidden;
}

.subtitle p {
  color: var(--pinkColor);
  font-size: 48px;
  font-weight: bold;
  font-family: Quicksand;
  padding-top: var(--spacing);
}

.subtitle-animate p {
  animation: fadeSlide 4s ease-in-out infinite;
}

.hero--wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  padding-top: 5rem;
}

.hero--content {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.hero--img img {
  height: 50vh;
  object-fit: contain;
  animation: float 6s ease-in-out infinite;
}
