.section__skills {
  margin-top: 8rem;
}
.skills--wrapper-all {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills--wrapper {
  width: 100%;
  padding: 16px;
  background-color: var(--secondaryBackgroundColor);
  border-radius: 8px;
  text-align: center;
  margin: 0.5rem;
}

.skills--list {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.skills--list li {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
}

.skills--item {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin: 8px;
}

.skills--item-text {
  margin-top: 0.5rem;
}

@media (min-width: 48em) {
}

@media (min-width: 60em) {
  .skills--wrapper-all {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills--wrapper {
    width: 45%;
    padding: 0.5rem;
    min-height: 20rem;
  }
}
