.section--contact {
  height: 110vh;
}
.contact--form-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact--form-wrapper div {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.contact--intro {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  font-family: Quicksand;
}

.contact--img {
  width: 30vw;
}

.contact--input-wrapper {
  display: flex;
  flex-flow: column;
  width: 30vw;
  height: 96px;
  justify-content: space-evenly;
}

.contact--input-wrapper__textarea {
  height: 20vh;
}

.contact--label {
  margin-bottom: 0.5rem;
}

.contact--input {
  background-color: var(--secondaryBackgroundColor);
  border: solid 1px #312d94;
  border-radius: 4px;
  color: white;
  padding: 0.25rem;
}

.contact--input:focus {
  outline: none;
  border-color: var(--pinkColor);
}

.contact--button {
  text-align: right;
}

.button--primary {
  background-color: var(--pinkColor);
  border: solid 1px var(--pinkColor);
  border-radius: 4px;
  color: white;
  padding: 4px 32px;
  transition: transform 0.2s;
  position: relative;
  overflow: hidden;
}

.button--primary:hover {
  transform: scale(1.2);
}

.button--primary:after {
  content: "";
  background: #a94696;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -50px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button--primary:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.button--primary:focus {
  outline: 0;
}
