@import "./css/vars.css";

header {
  padding: var(--spacing) 7rem;
  height: 15vh;
}

.header--title {
  width: 0;
  height: 0;
  visibility: hidden;
}

.header--wrap {
  display: flex;
  justify-content: space-between;
}

.header--img {
  width: 68px;
  margin-bottom: 1.45rem;
}

nav {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: var(--lightColor);
}

.navItem__active {
  height: 100%;
  font-weight: 700;
  position: relative;
}

.navItem__active::before {
  content: "";
  height: 8px;
  width: 8px;
  background-color: var(--pinkColor);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 8px;
  left: 45%;
}
