.section__experience {
  margin-top: 8rem;
}

.timeline {
  border-left: 4px solid var(--pinkColor);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  margin: 3rem auto;
  margin-right: 1rem;
  position: relative;
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-flow: column;
  width: 60vw;
  background-color: var(--secondaryBackgroundColor);
}

.event {
  border-bottom: 1px dashed var(--backgroundColor);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

.event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.event:before,
.event:after {
  position: absolute;
  display: block;
  top: 0;
}

.event:before {
  left: -150px;
  content: attr(data-date) " ";
  min-width: 50px;
  text-align: right;
}

.event:after {
  background-color: var(--backgroundColor);
  box-shadow: 0 0 0 8px var(--pinkColor);
  left: -42px;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  content: "";
  top: 5px;
}

.experience--item-title-wrapper {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

.experience--img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
}

@media (min-width: 48em) {
  .timeline {
    width: 60vw;
    margin-right: auto;
  }

  .event:before {
    left: -260px;
    min-width: 200px;
  }
}

@media (min-width: 60em) {
  .timeline {
    width: 50vw;
    padding: 3rem;
  }

  .event:before {
    left: -300px;
    min-width: 200px;
  }

  .event:after {
    left: -60px;
  }

  .experience--item-title-wrapper {
    flex-flow: row-reverse;
    align-items: flex-start;
  }

  .experience--img {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}
